.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    padding: 0 0.5rem;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    padding: .5rem 0;
}