.main {
    display: grid;
    gap: 1rem;
    position: relative;
    background-color: white;
    max-width: 1320px;
    margin: 0 auto;
    padding: 1rem;
}

.buttons {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.cards {

    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

}