.main {
    position: relative;
    background-color: white;
    max-width: 1320px;
    margin: 0 auto;
    padding: 1rem;
}

.h1 {
    margin-bottom: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    font-size: calc(1.375rem + 1.5vw);
    color: #212529;
}